/* Style the class description section */
.class-description {
  background-color: #606c5d;
  color: #fff4f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh; /* Ensure the section takes up the full viewport height */
}

/* Style the left column */
.class-description .left-column,
.class-description .right-column {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style the center column */
.class-description .center-column {
  width: 70%;
  background-color: #606c5d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Style the slider */
.class-description .slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%; /* Ensure the slider takes up the full height of the column */
  background-color: #606c5d;
}

/* Style the left slider */
.class-description .left-slider,
.class-description .right-slider {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%; /* Ensure the slider takes up the full height of the column */
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
}

/* Style the right slider */
.class-description .right-slider {
  flex-direction: column-reverse;
}

/* Style slider images */
.class-description .slider img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

/* Style the section heading */
.class-description h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: "Georgia";
}

/* Style the section paragraph */
.class-description p {
  font-size: 0.8rem;
  margin-bottom: 2rem;
}

/* Style the buttons container */
.class-description .buttons {
  display: flex;
  justify-content: flex-start;
}

/* Style the buttons */
.class-description .buttons button {
  background-color: #606c5d;
  color: #f7e6c4;
  border-radius: 45px;
  padding: 1rem 2rem;
  border: none;
  margin-right: 1rem;
  cursor: pointer;
  outline-color: #f7e6c4;
  outline: 2px solid #f7e6c4;
  margin-bottom: 2rem;
}

.class-description .buttons button:hover {
  background-color: #f1c376;
  transform: scale(1.03);
}

/* Style the middle video container */
.class-description .middle-video-container {
  margin-bottom: 2rem;
  width: 100%; /* Ensure the video container takes up the full width */
  display: flex;
  justify-content: center;
  gap: 1rem; /* Add space between videos */
}

/* Style the middle video */
.class-description .middle-video-container video {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  max-width: 300px; /* Set a maximum width for the video */
  max-height: 200px; /* Set a maximum height for the video */
}