.hero {
  position: relative;
  background-image: url("../images/Cover.jpg"); /* Add your background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 5rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  gap: 2rem;
  align-items: center;
}

.vertical-text {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: auto;
}
.arrow-symbol {
  margin-right: 260%; /* Adjusted margin */
  transform: rotate(90deg) scale(3); /* Scale factor of 3 */
  font-size: 48px;
  margin-bottom: 50%;
  color: #f7e6c4; /* Arrow color */
  font-weight: bold; /* Make the arrow thicker */
}

.large-text {
  font-size: 4rem;
  margin-right: 300%; /* Larger font size for "02" */
  font-weight: bold;
  color: #f7e6c4; /* Golden color for numbers */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Subtle shadow */
}

.divider {
  margin-right: 300%; /* Reduced margin for a smaller space */
  width: 50%; /* Reduced width for a smaller divider */
  height: 3px; /* Added height for visible thickness */
  transform: rotate(200deg);
  color: #f7e6c4;
  background-color: #f7e6c4;
}

.small-text {
  margin-right: 300%;
  font-size: 2rem; /* Smaller font size for "04" */
  font-weight: bold;
  color: #f7e6c4;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.content {
  flex: 1;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Add text shadow for better visibility */
}

.content h1 {
  font-size: 3.5rem;
  font-family: "Georgia", serif;
  margin-top: -14rem;
  margin-bottom: 2rem;
  margin-right: -16rem;
  line-height: 1;
}

.content p {
  font-size: 1.3rem;
  font-family: "Arial", sans-serif;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 images in one row */
  gap: 2rem;
}

.image-grid img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}